@layer base {
	/* TOASTIFY */
	body {
		background-color: hsl(var(--background));
		--toastify-color-light: hsl(var(--background));
		--toastify-color-dark: hsl(var(--background));

		--toastify-color-info: hsl(var(--primary));
		--toastify-color-success: hsl(var(--success));
		--toastify-color-warning: hsl(var(--warning));
		--toastify-color-error: hsl(var(--destructive));
		--toastify-color-transparent: hsl(var(--foreground));

		--toastify-icon-color-info: hsl(var(--primary));
		--toastify-icon-color-success: hsl(var(--success));
		--toastify-icon-color-warning: hsl(var(--warning));
		--toastify-icon-color-error: hsl(var(--destructive));

		--toastify-toast-width: 350px;
		--toastify-toast-background: hsl(var(--foreground));
		--toastify-toast-min-height: 50px;
		--toastify-toast-max-height: 800px;
		--toastify-font-family: var(--font-main);
		--toastify-z-index: 9999999;

		--toastify-text-color-light: hsl(var(--foreground));
		--toastify-text-color-dark: hsl(var(--foreground));

		--toastify-text-color-info: hsl(var(--foreground) / 0.8);
		--toastify-text-color-success: hsl(var(--success));
		--toastify-text-color-warning: hsl(var(--warning));
		--toastify-text-color-error: hsl(var(--destructive));

		--toastify-spinner-color: hsl(var(--foreground) / 0);
		--toastify-spinner-color-empty-area: hsl(var(--foreground) / 0.7);

		--toastify-color-progress-dark: hsl(var(--foreground) / 0.2);
		--toastify-color-progress-info: hsl(var(--primary) / 0.2);
		--toastify-color-progress-success: hsl(var(--success) / 0.2);
		--toastify-color-progress-warning: hsl(var(--warning) / 0.2);
		--toastify-color-progress-error: hsl(var(--destructive) / 0.2);

		.Toastify__progress-bar {
			height: 100% !important;
			z-index: -1 !important;
		}

		.Toastify__toast {
			font-weight: 600;
			font-size: 0.835rem;
			border-radius: 10px !important;
			position: relative;
		}

		.Toastify__toast:after {
			content: "";
			background: hsl(var(--foreground) / 0.1);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		.Toastify__toast.Toastify__toast--default .Toastify__close-button {
			background: hsl(var(--foreground) / 0.3);
		}

		.Toastify__toast.Toastify__toast--info:after {
			background: hsl(var(--primary) / 0.2);
		}

		.Toastify__toast.Toastify__toast--info .Toastify__close-button {
			background: hsl(var(--primary) / 0.3);
		}

		.Toastify__toast.Toastify__toast--success:after {
			background: hsl(var(--success) / 0.2);
		}

		.Toastify__toast.Toastify__toast--success .Toastify__close-button {
			background: hsl(var(--success) / 0.3);
		}

		.Toastify__toast.Toastify__toast--warning:after {
			background: hsl(var(--warning) / 0.2);
		}

		.Toastify__toast.Toastify__toast--warning .Toastify__close-button {
			background: hsl(var(--warning) / 0.3);
		}

		.Toastify__toast.Toastify__toast--error:after {
			background: hsl(var(--destructive) / 0.2);
		}

		.Toastify__toast.Toastify__toast--error .Toastify__close-button {
			background: hsl(var(--destructive) / 0.3);
		}

		/* close button */
		.Toastify__close-button {
			align-self: center !important;
			padding: 0.4rem !important;
			border-radius: 100%;
		}

		.Toastify__close-button > svg {
			width: 13px !important;
			height: 13px !important;
		}
	}
}
